<div class="container-fluid h-100 d-flex flex-column" xmlns="http://www.w3.org/1999/html">
  <webai-studio-header>

    <div header-title-row class="d-flex align-items-center me-3 w-100">
      <h2 class="h6 flex-grow-1 m-0">Chat</h2>
      <div class="d-flex align-items-center gap-2">
        <div class="d-flex align-items-center gap-2">
          <div><small>Local LLM status:</small></div>
          <div><span class="badge text-bg-secondary cursor-pointer"
              [class.text-bg-warning]="this.languageModelAvailability === 'loading...'"
              [class.text-bg-secondary]="this.languageModelAvailability === 'downloadable'"
              [class.text-bg-danger]="this.languageModelAvailability === 'unavailable'"
              [class.text-bg-success]="this.languageModelAvailability === 'available'"
              [class.text-bg-primary]="this.languageModelAvailability === 'downloading'" placement="bottom"
              [ngbTooltip]="capabilityTooltip">{{
              this.languageModelAvailability }}</span>
          </div>
        </div>

        <button class="btn btn-soft" (click)="onNewChat()"
          [disabled]="(conversationManager.status$ | async) === InferenceStateEnum.Initial" ngbTooltip="New chat"
          placement="bottom">
          <i class="bi bi-plus-lg"></i>
        </button>

        <div>
          <button class="btn btn-settings btn-soft" [class.text-success]="settingsActive"
            [class.badge-settings]="settingsActive" [class.active]="settingsActive" type="button"
            data-bs-toggle="offcanvas" data-bs-target="#settingsOffcanvas" aria-controls="settingsOffcanvas">
            <i class="bi bi-sliders2"></i>
            <span
              class="position-absolute translate-middle p-1 bg-success border border-light rounded-circle badge-settings">
              <span class="visually-hidden">New alerts</span>
            </span>
          </button>
        </div>

        <button class="btn btn-soft" (click)="openCodeModal()"
          ngbTooltip="Get the JS code to integrate this on your site!" placement="bottom"><i
            class="bi bi-code-square"></i> Get code</button>
      </div>
    </div>
    @if (this.languageModelAvailability === "downloadable" || this.languageModelAvailability === "downloading") {
    <div class="alert alert-warning">
      <div>The Browser's LLM is not installed. Click here to trigger the download and installation in your
        browser.
      </div>

      <div class="d-grid">
        <button class="btn btn-primary mt-3" (click)="triggerDownload()">Trigger Local LLM Download</button>
      </div>

      @if (this.languageModelAvailability === "downloading" || progress !== 0) {
      Download in progress:
      <div class="progress mt-4" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0"
        aria-valuemax="100">
        <div class="progress-bar" [style.width]="progress * 100 + '%'"></div>
      </div>
      }
    </div>
    } @else if (this.languageModelAvailability === "unavailable") {
    <div class="alert alert-danger">The "Prompt API" is not available. Make sure you are using a compatible hardware or
      browser. <a href="https://developer.chrome.com/docs/ai/prompt-api#hardware-requirements">See more details</a>
    </div>
    }
  </webai-studio-header>

  <div class="container flex-grow-1" style="    height: calc(100vh - 120px);">
    <div class="d-flex flex-column justify-content-center gap-5 h-100 ">

      @if ((conversationManager.status$ | async) !== InferenceStateEnum.Initial) {
      <app-chat class="flex-grow-1" [messages]="(conversationManager.messages$ | async) || []"
        [status]="conversationManager.status$ | async"
        style="height: calc(100vh - 190px); overflow:auto;overflow-anchor: none;" autoScroll></app-chat>
      }

      @if ((conversationManager.status$ | async) === InferenceStateEnum.Initial) {
      <h1 class="display-4 text-center">Web AI Studio</h1>
      }

      <app-prompt-input [class.sticky-bottom]="(conversationManager.status$ | async) !== InferenceStateEnum.Initial"
        [state]="state" [capabilities]="capabilities" (run)="onRun($event)" (cancel)="onCancel()"
        (optionsChange)="onOptionsChange($event)"></app-prompt-input>

    </div>
  </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="settingsOffcanvas" aria-labelledby="settingsOffcanvasLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="settingsOffcanvasLabel">Run Settings</h5>
    <div class="ms-auto me-2">
      @if (settingsActive) {
      <button type="button" class="btn btn-sm btn-outline-secondary" (click)="resetSettings()"><i
          class="bi bi-arrow-counterclockwise"></i> Reset</button>
      }
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="mb-4">
      <h6 class="text-uppercase fw-bold text-secondary mb-3" style="letter-spacing: 0.05em; font-size: 0.95rem;">
        Generation</h6>
      <div class="d-flex align-items-center gap-5 mb-3">
        <label class="form-check-label flex-grow-1" for="streamOutputSwitch">Stream response</label>
        <div class="form-check form-switch ps-2 m-0" style="width: 70px; min-height: auto;">
          <input class="form-check-input m-0" type="checkbox" role="switch" id="streamOutputSwitch"
            [(ngModel)]="options.stream" (change)="onOptionsChange(options)" style="width: 40px;">
        </div>
      </div>

      <div class="mb-3">
        <div class="d-flex justify-content-between">
          <label class="form-label mb-1">Temperature</label>
        </div>
        <div class="d-flex align-items-center gap-3">
          <input type="range" class="form-range flex-grow-1" [(ngModel)]="options.temperature" [min]="0"
            [max]="maxTemperature" [step]="0.1" (change)="onOptionsChange(options)">
          <input type="number" class="form-control form-control-sm" style="width: 70px;"
            [(ngModel)]="options.temperature" [min]="0" [max]="maxTemperature" [step]="0.1"
            (change)="onOptionsChange(options)">
        </div>
      </div>

      <div class="mb-3">
        <div class="d-flex justify-content-between">
          <label class="form-label mb-1">TopK</label>
        </div>
        <div class="d-flex align-items-center gap-3">
          <input type="range" class="form-range flex-grow-1" [(ngModel)]="options.topK" [min]="0" [max]="maxTopK"
            [step]="1" (change)="onOptionsChange(options)">
          <input type="number" class="form-control form-control-sm" style="width: 70px;" [(ngModel)]="options.topK"
            [min]="0" [max]="maxTopK" [step]="1" (change)="onOptionsChange(options)">
        </div>
      </div>
    </div>

    <hr class="my-4">

    <div>
      <h6 class="text-uppercase fw-bold text-secondary mb-3" style="letter-spacing: 0.05em; font-size: 0.95rem;">Tools
      </h6>
      <div class="d-flex align-items-center gap-3">
        <div class="form-check form-switch flex-grow-1">
          <input class="form-check-input" type="checkbox" role="switch" id="structuredOutputSwitch"
            [(ngModel)]="options.structuredOutputEnabled" (change)="onOptionsChange(options)">
          <label class="form-check-label" for="structuredOutputSwitch">Structured Output</label>
        </div>
        <button class="btn btn-sm btn-soft btn-white bg-primary-subtle" [disabled]="!options.structuredOutputEnabled"
          (click)="editStructuredOutput()">Edit
        </button>
      </div>
    </div>
  </div>
</div>