<div class="container-fluid">
  <div class="container">
    <div class="d-flex gap-5 align-items-center">
      <div class=" flex-fill">
        <h1 class="display-1 mt-2 text-start">Axon</h1>
        <p class="text-start text-secondary">The <strong>Axon Test</strong> measures the raw, uncontended speed of the AI API. It
          evaluates the API's fundamental processing efficiency from both a "cold" (initial load) and "warm" (cached,
          subsequent use) state. This test focuses on the speed of signal transmission, assessing how quickly and
          efficiently the AI API can deliver its output when dedicated resources are available.</p>
      </div>
      <div class="flex-fill">
        <button class="btn btn-lg btn-primary d-flex align-items-center gap-3"
                (click)="start()"
                style="width:225px;"
                [disabled]="this.axonTestSuiteExecutor.results.status === 'Executing'">
          @if(this.axonTestSuiteExecutor.results.status === 'Executing') {
            <div class="spinner-grow text-light" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            Running...
          } @else {
            <i class="bi bi-play"></i> Run Axon Test
          }
        </button>
      </div>
    </div>
  </div>

  <h2 class="display-6 mt-5 fs-4">Overall Summary</h2>
  <hr>

  @if (this.axonTestSuiteExecutor.results.status !== TestStatus.Idle) {
    <div class="rounded-1 axon-summary-table">
    <table class="table table-borderless text-center m-0">
      <thead>
      <tr>
        <th></th>
        <th colspan="2">avg. TTFT (ms)</th>
        <th colspan="2">med. TTFT (ms)</th>
        <th colspan="2">avg. Total Response Time (ms)</th>
        <th colspan="2">med. Total Response Time (ms)</th>
        <th colspan="2">avg. Characters/s</th>
        <th colspan="2">med. Characters/s</th>
      </tr>
      <tr>
        <th></th>
        <th class="border-end-0"><i class="bi bi-thermometer-snow text-primary"></i> Cold</th>
        <th class="border-start-0"><i class="bi bi-thermometer-sun text-warning"></i> Warm</th>
        <th class="border-end-0"><i class="bi bi-thermometer-snow text-primary"></i> Cold</th>
        <th class="border-start-0"><i class="bi bi-thermometer-sun text-warning"></i> Warm</th>
        <th class="border-end-0"><i class="bi bi-thermometer-snow text-primary"></i> Cold</th>
        <th class="border-start-0"><i class="bi bi-thermometer-sun text-warning"></i> Warm</th>
        <th class="border-end-0"><i class="bi bi-thermometer-snow text-primary"></i> Cold</th>
        <th class="border-start-0"><i class="bi bi-thermometer-sun text-warning"></i> Warm</th>
        <th class="border-end-0"><i class="bi bi-thermometer-snow text-primary"></i> Cold</th>
        <th class="border-start-0"><i class="bi bi-thermometer-sun text-warning"></i> Warm</th>
        <th class="border-end-0"><i class="bi bi-thermometer-snow text-primary"></i> Cold</th>
        <th class="border-start-0"><i class="bi bi-thermometer-sun text-warning"></i> Warm</th>
      </tr>
      </thead>
      <tbody>

        @for (element of builtInAiApis; track $index) {
          @let coldSummaryResults = this.getSummaryResults(element.id, "cold");
          @let warmSummaryResults = this.getSummaryResults(element.id, "warm");
          <tr>
            <th class="text-start">{{ element.id }}</th>
            <td class="border-end-0">
              @if(coldSummaryResults) {
                {{ coldSummaryResults.averageTimeToFirstToken| number:'1.2-2' }}
              } @else {
                ---
              }
              </td>
            <td class="border-start-0"> @if(warmSummaryResults) {
              {{ warmSummaryResults.averageTimeToFirstToken| number:'1.2-2' }}
            } @else {
              ---
            }</td>
            <td class="border-end-0">
              @if(coldSummaryResults) {
                {{ coldSummaryResults.medianTimeToFirstToken| number:'1.2-2' }}
              } @else {
                ---
              }
              </td>
            <td class="border-start-0"> @if(warmSummaryResults) {
              {{ warmSummaryResults.medianTimeToFirstToken| number:'1.2-2' }}
            } @else {
              ---
            }</td>
            <td class="border-end-0">
              @if(coldSummaryResults) {
                {{ coldSummaryResults.averageTotalResponseTime| number:'1.2-2' }}
              } @else {
                ---
              }
              </td>
            <td class="border-start-0"> @if(warmSummaryResults) {
              {{ warmSummaryResults.averageTotalResponseTime| number:'1.2-2' }}
            } @else {
              ---
            }</td>
            <td class="border-end-0">
              @if(coldSummaryResults) {
                {{ coldSummaryResults.medianTotalResponseTime| number:'1.2-2' }}
              } @else {
                ---
              }
              </td>
            <td class="border-start-0"> @if(warmSummaryResults) {
              {{ warmSummaryResults.medianTotalResponseTime| number:'1.2-2' }}
            } @else {
              ---
            }</td>
            <td class="border-end-0">
              @if(coldSummaryResults) {
                {{ coldSummaryResults.averageTokenPerSecond| number:'1.2-2' }}
              } @else {
                ---
              }
              </td>
            <td class="border-start-0"> @if(warmSummaryResults) {
              {{ warmSummaryResults.averageTokenPerSecond| number:'1.2-2' }}
            } @else {
              ---
            }</td>
            <td class="border-end-0">
              @if(coldSummaryResults) {
                {{ coldSummaryResults.averageTokenPerSecond| number:'1.2-2' }}
              } @else {
                ---
              }
              </td>
            <td class="border-start-0"> @if(warmSummaryResults) {
              {{ warmSummaryResults.averageTokenPerSecond| number:'1.2-2' }}
            } @else {
              ---
            }</td>
          </tr>
        }

      </tbody>
    </table>
    </div>
    @for (element of builtInAiApis; track $index) {

      <h2 class="mt-5 display-6 fs-5">{{ element.id }}</h2>
      <hr>

      <div class="d-flex gap-3">
        <!-- Retrieve all the tests for this specific API -->

        @for (test of this.getTests(getBuiltInAiAPIFromItemInterface(element)); track $index) {
          <div class="card bg-body-secondary">
            <div class="card-body">
              <div class="d-flex gap-4">
                <div class="flex-grow-1">
                  <h6 class="fs-6"><i class="bi bi-gear-wide-connected"></i> {{ test.id }}</h6>
                </div>
                <div>
                  @if (test.results.startType === "cold") {
                    <i class="bi bi-thermometer-snow text-primary"></i>
                  } @else {
                    <i class="bi bi-thermometer-sun text-warning"></i>
                  }
                </div>
                <!-- show status here -->
                <div>
                  <axon-test-status-badge [status]="test.results.status"></axon-test-status-badge>
                </div>

              </div>

              <table class="table table-borderless axon-test-highlights text-center mt-3">
                <thead>
                <th></th>
                <th>TTFT</th>
                <th>Total Response Time</th>
                <th>Characters/s</th>
                </thead>
                <tbody>
                <tr>
                  <th>avg.</th>
                  <td>{{ (test.results.averageTimeToFirstToken ?? "---") | number:'1.2-2' }}</td>
                  <td>{{ (test.results.averageTotalResponseTime) ?? "---" | number:'1.2-2' }}</td>
                  <td>{{ (test.results.averageTokensPerSecond) ?? "---" | number:'1.2-2' }}</td>
                </tr>
                <tr>
                  <th>median.</th>
                  <td>{{ (test.results.medianTimeToFirstToken ?? "---") | number:'1.2-2' }}</td>
                  <td>{{ (test.results.medianTotalResponseTime ?? "---") | number:'1.2-2' }}</td>
                  <td>{{ (test.results.medianTokensPerSecond ?? "---") | number:'1.2-2' }}</td>
                </tr>
                </tbody>
              </table>

              @let
              iterationsCollapsed = viewData[test.id].iterationsCollapsed || (viewData[test.id].iterationsCollapsed === undefined && test.results.status === 'Success');

              <div class="d-flex mt-5 align-items-center">
                <small class="fs-6 flex-grow-1"><i class="bi bi-arrow-clockwise"></i> Iterations
                  (total: {{ test.results.numberOfIterations }})</small>
                <button class="btn bg-dark-subtle btn-sm"
                        (click)="viewData[test.id].iterationsCollapsed === undefined? viewData[test.id].iterationsCollapsed = false : viewData[test.id].iterationsCollapsed = !viewData[test.id].iterationsCollapsed">
                  @if (iterationsCollapsed) {
                    <i class="bi bi-plus"></i> Expand iterations
                  } @else {
                    <i class="bi bi-dash"></i> Collapse iterations
                  }
                </button>

              </div>

              <div class="card bg-dark-subtle ps-2 pt-2 mt-3">
                <strong style="font-size: 0.7rem;"><i class="bi bi-input-cursor"></i> Input</strong>
                <p class="text-secondary"><small>{{ test.results.input }}</small></p>
              </div>

              <table class="table table-borderless table-sm mt-3 axon-test-card">
                <thead class="text-center text-body-emphasis">
                <tr>
                  <th>#</th>
                  <th>Status</th>
                  <th>TTFT (ms)</th>
                  <th>Total Response Time (ms)</th>
                  <th>Characters/second</th>
                                      <th>Output</th>
                </tr>
                </thead>

                <tbody class="table-group-divider  text-end" [class.collapse]="iterationsCollapsed">
                  @for (testIterationResult of test.results.testIterationResults; track $index) {
                    <tr>
                      <td class="text-center">{{ $index }}</td>
                      <td>
                        <axon-test-status-badge [status]="testIterationResult.status"></axon-test-status-badge>
                      </td>
                      <td>{{ testIterationResult.timeToFirstToken | number:'1.2-2' }}</td>
                      <td>{{ testIterationResult.totalResponseTime | number:'1.2-2' }}</td>
                      <td>{{ testIterationResult.tokensPerSecond | number:'1.2-2' }}</td>
                      <td style="width: 50px;"><button class="btn btn-soft" (click)="openOutputModal(testIterationResult.output ?? '')"><i class="bi bi-megaphone"></i></button> </td>
                      <!-- Todo: Find a way to show the output without breaking the UI entirely -->
                    </tr>
                  }
                </tbody>
              </table>

              <!-- Create another tbody and use it as a group to then say expand iterations and not just see/hide iterations -->

              <div class="d-grid mt-4">
                <button class="btn bg-dark-subtle btn-sm"
                        (click)="viewData[test.id].iterationsCollapsed === undefined? viewData[test.id].iterationsCollapsed = false : viewData[test.id].iterationsCollapsed = !viewData[test.id].iterationsCollapsed">
                  @if (iterationsCollapsed) {
                    <i class="bi bi-chevron-right"></i> See iterations
                  } @else {
                    <i class="bi bi-chevron-up"></i> Hide iterations
                  }
                </button>
              </div>
            </div>
          </div>
        }

      </div>
    }
  }
</div>

