.axon-test-card {
  thead {
    border-bottom: 1px solid var(--bs-table-border-color);
  }

  th, td {
    background-color: transparent;
    font-size: 0.8rem;
    font-weight: normal;
  }
}

.axon-test-highlights {
  th, td {
    background-color: transparent;
    font-size: 0.8rem;
    font-weight: normal;
  }

  th {
    color: var(--bs-gray-600)
  }

  td {
    font-weight: bold;
  }
}

.axon-summary-table {
  outline: 1px solid var(--bs-gray-400);

  thead {
    th {
      background-color: rgba(var(--bs-secondary-bg-rgb), 1) !important;
    }

    th:not(:first-child) {
      border-left: 1px solid var(--bs-gray-400);
      //color: var(--bs-gray-100)
    }
  }

  tbody {
    tr, td {
      border-top: 1px solid var(--bs-gray-400);
      line-height: 35px;
    }

    td:not(:first-child) {
      border-left: 1px solid var(--bs-gray-400);
    }
  }
}
