webai-studio-sidebar {
  height: 100vh;
  position: fixed;

  &.collapsed {
    width: 80px !important;
  }

  @media screen and (min-width: 992px) {
    position: unset;
    visibility: visible;
    transform: none !important;
  }
}
