<div class="container-fluid">
<div class="container">
  <h1 class="display-1 mt-2 text-center">Axon</h1>
  <p class="text-center">The <strong>Axon Test</strong> measures the raw, uncontended speed of the AI API. It evaluates the API's fundamental processing efficiency from both a "cold" (initial load) and "warm" (cached, subsequent use) state. This test focuses on the speed of signal transmission, assessing how quickly and efficiently the AI API can deliver its output when dedicated resources are available.</p>

  <div class="d-grid">
    <button class="btn btn-lg btn-primary" (click)="start()">Run Axon Test</button>
  </div>
</div>

  @if(this.axonTestSuiteExecutor.results.status !== TestStatus.Idle) {
    <div>Running!</div>
  }
</div>

