<div class="modal-header">
  <h4 class="modal-title d-flex gap-2"><i class="bi bi-code-square"></i>Get Code</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body gap-2 d-flex flex-column">
  <div class="d-grid">
  <select class="form-select" aria-label="Default select example" [formControl]="languageFormControl">
    <option value="typescript">Typescript</option>
    <option value="javascript">Javascript</option>
  </select>
  </div>
  <magieno-code-editor
    [(code)]="code"
    [height]="'600px'"
  ></magieno-code-editor>
</div>
