/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@source "../../base/src";

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #202124;
  color: #e8eaed;
  margin: 0;
  padding: 0;
  min-width: 450px;
  min-height: 400px;
}