<div class="container-fluid h-100 d-flex flex-column" xmlns="http://www.w3.org/1999/html">
  <webai-studio-header title="Chat Prompt">

    <div class="d-flex align-items-center mt-5 ms-3 me-3">
      <h2 class="h6 flex-grow-1">Chat</h2>
      <div class="d-flex align-items-center gap-2">
        <div class="d-flex align-items-center gap-2">
          <div><small>Local LLM status:</small></div>
          <div><span
            class="badge text-bg-secondary"
            [class.text-bg-secondary]="this.languageModelAvailability === 'downloadable'"
            [class.text-bg-danger]="this.languageModelAvailability === 'unavailable'"
            [class.text-bg-success]="this.languageModelAvailability === 'available'"
            [class.text-bg-primary]="this.languageModelAvailability === 'downloading'">{{ this.languageModelAvailability }}</span>
          </div>
        </div>
        <button class="btn" ngbTooltip="Get the JS code to integrate this on your site!" placement="bottom"><i
          class="bi bi-code-square"></i></button>
      </div>
    </div>
  </webai-studio-header>
  <div class="container flex-grow-1" style="    height: calc(100vh - 120px);">
    <div class="d-flex flex-column justify-content-center gap-5 h-100 ">

      @if (this.manager.state !== InferenceStateEnum.Initial) {
        <magieno-conversation class="flex-grow-1"
                              [conversation]="this.manager.conversation"
                              [state]="this.manager.state"
                              style="height: calc(100vh - 190px); overflow:auto;"
        ></magieno-conversation>
      }

      @if (this.manager.state === InferenceStateEnum.Initial) {
        <h1 class="display-4 text-center">Web AI Studio</h1>
      }

      <magieno-writing-assistance-input
        (apiSelection)="this.apiSelected($event)"
        (run)="run($event)"
        [(state)]="this.state"
        (cancel)="onCancel()"
      ></magieno-writing-assistance-input>

    </div>
  </div>
</div>

