:host {
  background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity, 1)) !important;
  height: 100%;
  width: 220px !important;
}

h1 {
  font-size: 2.0rem;
  font-weight: 200;
}

.nav-item {
  border-radius: 12px;

  .nav-link {
    color: var(--bs-secondary-text-emphasis) !important;
  }

  font-size: 0.9rem;

  &:hover, &.active {
    background-color: var(--bs-dark-bg-subtle) !important;

    .nav-link {
      color: var(--bs-emphasis-color) !important
    }
  }
}
